.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;

  .card {
    min-width: 650px;
    padding: 32px;
    border: none;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      .cardTitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
      }

      .closeButton {
        
      }

      .closeIcon {
        font-size: 28px;
      }
    }

    .body {
      height: calc(100vh - 300px);
      overflow: auto;
    }

    .footer {
      display: flex;
      align-items: center;
      gap: 24px;

      .button {
        flex: 1;
      }
    }
  }
}
