.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #ebebeb;
  border-radius: 6px;
  list-style-type: none;
  width: 1005px;
  margin-top: 16px;
  height: 332px;
  overflow-y: scroll;
  li {
    padding: 12px;
    border: 1px solid #ebebeb;
    border-top: none;
    border-left: none;
  }
}
